.subscription-notice {
    /* padding: 15px; */
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border: 1px solid #f5c6cb;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    /* z-index: 1031; Above navbar */
    width: 100%; /* Ensure it spans full width */
    box-sizing: border-box; /* Include padding and border in element's total width */
}
.subscription-notice a {
    color: #721c24;
    font-weight: bold;
    text-decoration: underline;
}

/* New rule to push down the main content when the subscription notice is active */

/* body.has-subscription-notice .wrapper {
    margin-top: 52px; Adjust this value if the banner height is different (15px padding + 15px padding + 1px border + 1px border + approx 20px line-height)
} */